In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("C:/Users/dtj13/Documents/Data Analytics Course/Module_6_API/World_Weather_Analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2021-09-30 21:05:43,77.4840,-69.3632,26.49,88,100,11.45
1,1,Belyy Yar,RU,2021-09-30 21:05:44,53.6039,91.3903,44.49,93,40,6.71
2,2,Klaksvik,FO,2021-09-30 21:05:44,62.2266,-6.5890,52.72,92,99,23.71
3,3,Viedma,AR,2021-09-30 21:05:44,-40.8135,-62.9967,67.98,19,3,12.55
4,4,Hobyo,SO,2021-09-30 21:05:45,5.3505,48.5268,78.13,89,98,20.76

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Hobyo,SO,2021-09-30 21:05:45,5.3505,48.5268,78.13,89,98,20.76
13,13,Butaritari,KI,2021-09-30 21:03:28,3.0707,172.7902,81.68,76,100,12.26
18,18,Tevaitoa,PF,2021-09-30 21:05:48,-16.7833,-151.5000,78.87,73,7,17.45
35,35,Hilo,US,2021-09-30 21:05:52,19.7297,-155.0900,79.79,94,90,5.75
39,39,Hambantota,LK,2021-09-30 21:05:53,6.1241,81.1185,79.14,94,40,3.44
49,49,Auki,SB,2021-09-30 21:05:56,-8.7676,160.7034,80.55,78,99,3.80
51,51,Mogadishu,SO,2021-09-30 21:05:57,2.0371,45.3438,78.24,89,90,16.04
57,57,Atuona,PF,2021-09-30 21:05:59,-9.8000,-139.0333,78.12,69,7,17.67
61,61,Georgetown,MY,2021-09-30 21:06:00,5.4112,100.3354,82.33,88,20,2.30
64,64,Jequie,BR,2021-09-30 21:02:31,-13.8575,-40.0836,80.69,53,0,9.24

In [19]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4        Hobyo      SO     78.13   5.3505   48.5268
13  Butaritari      KI     81.68   3.0707  172.7902
18    Tevaitoa      PF     78.87 -16.7833 -151.5000
35        Hilo      US     79.79  19.7297 -155.0900
39  Hambantota      LK     79.14   6.1241   81.1185
49        Auki      SB     80.55  -8.7676  160.7034
51   Mogadishu      SO     78.24   2.0371   45.3438
57      Atuona      PF     78.12  -9.8000 -139.0333
61  Georgetown      MY     82.33   5.4112  100.3354
64      Jequie      BR     80.69 -13.8575  -40.0836

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hobyo,SO,78.13,5.3505,48.5268,Halane Hotel and Restaurent
13,Butaritari,KI,81.68,3.0707,172.7902,Isles Sunset Lodge
18,Tevaitoa,PF,78.87,-16.7833,-151.5000,Hôtel Raiatea Lodge
35,Hilo,US,79.79,19.7297,-155.0900,Hilo Hawaiian Hotel
39,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
...,...,...,...,...,...,...
574,Palu,ID,75.42,-0.8917,119.8707,Hotel Santika Palu
580,Rumonge,BI,77.72,-3.9736,29.4386,Kwetu Guest House
581,Monrovia,LR,78.57,6.3005,-10.7969,Sunset Inn
582,Pandan,PH,79.95,14.0453,124.1694,Bonifacio Lodge
583,Tecoanapa,MX,84.60,16.5167,-98.7500,Hotel Manglares

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))